body {
    font-family: Helvetica, Arial, Sans-Serif;
}
body > div {
    margin: 20px 0;
}
table {
    width: auto;
    margin: 0 auto;
}
thead {
    background: #262E40;
    color: white;
}
th {
    padding: 8px 10px;
}
td {
    padding: 6px 3px;
}
tr {
    border-bottom: 1px solid #99B9FF;
}

